*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
:root{
    --prime: white;
    --second: black;
}
.dark-theme{
    --prime: black;
    --second: white;
}
body{
    background: var(--prime);
    color: var(--second);
}
.logo{
    font-size: 50px;
    font-weight: 400;
    color: var(--second);
}
.ala{
    color: red;

}
.container{
    padding: 10px 2%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: var(--second);
    text-decoration: none;
    font-size: 30px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav .fa-solid{
    display: none;
}
.bi-sun{
    font-size: 30px;
    top: 9px;
    left: 9px;
    cursor: pointer;
    
  }
  .bi-moon{
    font-size: 30px;
    top: 9px;
    right: 8px;
    cursor: pointer;
  } 
#portfolio{
    padding: 70px 0;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.layer h3 p{
    color: var(--second);
}
@media only screen and (min-width: 280px) and (max-width: 600px){
    nav .fa-solid{
    display: block;
    font-size: 30px;
}
nav ul{
    position: fixed;
    background: red;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 70px; 
    transition: right 0.5s;
    z-index: 1;  
}
nav ul li{
    display: block;
    margin: 37px 5%;
    font-weight: 600;
}
nav ul li a{
    font-size: 35px;
}
nav ul .fa-solid{
    position: absolute;
    top: 40px;
    left:25px;
    cursor: pointer;
}

  .bi-moon{
    position: absolute;
    font-size: 30px;
    top: 40px;
    left:25px; 
    margin-left: 120px;
    cursor: pointer;
  } 
}
@media only screen and (min-width: 650px) and (max-width: 950px){
    nav .fa-solid{
        display: block;
        font-size: 30px;
    }
    nav ul{
        position: fixed;
        background: red;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        padding-top: 70px; 
        transition: right 0.5s;
        z-index: 1;  
    }
    nav ul li{
        display: block;
        margin: 37px 10%;
        font-weight: 600;
    }
    nav ul li a{
        font-size: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 40px;
        left:25px;
        cursor: pointer;
    }
    .bi-moon{
        position: absolute;
        font-size: 30px;
        top: 40px;
        left:25px; 
        margin-left: 120px;
        cursor: pointer;
      }  
}    